.wrapper {
  width: 100%;
  max-width: 600px;
  margin: 40px auto;
}

.form {
  .inputs {
    padding: 0 12px;
    display: flex;
    flex-direction: column;

    input {
      -moz-appearance: textfield;

      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        display: none;
      }
    }

    .input {
      margin: 8px 0;

      &.housing-k {
        width: 120px;
      }

      .housing-k {
        text-align: right;
      }
    }
  }

  .actions {
    width: 100%;
    padding: 0 12px;
    display: flex;
    justify-content: flex-end;
  }
}

.result {
  .panel {
    padding: 12px 0;
    width: 100%;
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;

    > div {
      text-align: center;
      margin: 4px 0;
      padding: 4px 0;
      border-bottom: 1px solid rgba($color: #000000, $alpha: 0.12);
    }
  }
}
